API_BASE_URL=https://www2.siaf.co.ao
AUTH_BASE_URL=https://www2.siaf.co.ao/token
AUTH_BASIC_TOKEN=Basic YOUR_BASIC_TOKEN_HERE
AUTH_SCOPE=YOUR_AUTH_SCOPE_HERE
ORIGIN_URL=https://www1.siaf.co.ao
REFERER_URL=https://www1.siaf.co.ao/
